#!/bin/sh
set -eu

# Brewfile checksum: {{ include "Brewfile" | sha256sum }}

if [ -x /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [ -x /usr/local/bin/brew ]; then
  eval "$(/usr/local/bin/brew shellenv)"
fi

export HOMEBREW_NO_AUTO_UPDATE=1

BREWFILE="{{ .chezmoi.sourceDir }}/Brewfile"
echo "Running brew bundle with $BREWFILE"
brew bundle --file "$BREWFILE"
